/* Override Bootstrap */
p {
	margin: 1em 0;
}

.navbar {
	box-shadow: none;
	border: none;
	margin: 0;
}

.jumbotron-main {
	background: #D9EDF7;
}

#topics.affix {
	top: 20px;
}

/* Disable affix for mobile and small screens */
@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

/* Masonry for board */
.masonry {
	margin: 0 auto;
	width: 100%;
}

.masonry-item {
	width: 300px;
	margin-bottom: 20px;
}

.masonry-item img {
	width: 100%;
}

iframe {
    width: 100%;
}
