body {
	background: #F7F9F9;
}

/* Override Bootstrap */
p {
	margin: 1em 0;
}

a {
	color: inherit;
}

.big-margin-top {
	margin-top: 3em;
}

.post-detail {
	padding: 20px;
}

.margin-top {
	margin-top: 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.no-margin-top {
	margin-top: 0;
}

.navbar {
	box-shadow: none;
	border: none;
	margin: 0;
}

.jumbotron-main {
	background: #D9EDF7;
}

#topics.affix {
	top: 20px;
}

/* Disable affix for mobile and small screens */
@media (max-width: 768px) {
    .affix {
        position: static;
    }
}

.post-group {
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

/* Masonry for board */
.masonry {
	margin: 0 auto;
	width: 100%;
}

.masonry-item {
	width: 300px;
	margin-bottom: 20px;
}

.masonry-item img {
	width: 100%;
}

iframe {
    width: 100%;
}
