{% include "includes/head.html" %}
{% include "includes/header.html" %}



<main>
	<div class="container">
		<p><a href="/posts">Back to posts</a></p>
	</div>
	<div class="masonry">
		<p><a href="/posts">Back to posts</a></p>
		{% for post in all_posts %}
		<div class="masonry-item panel panel-default">
			<div class="panel-header">
				{% if post.get_post_type_display == 'Photo Post' %}
                    {% if post.photo.url %}
                    <img class="img-responsive" src="{{ post.photo.url }}" />
                    {% endif %}
                {% else %}
                	{% if post.url %}
                	<iframe src="{{ post.url }}" frameborder="0" allowfullscreen></iframe>
                	{% endif %}
				{% endif %}
			</div> 
			<div class="panel-body">
				<a href="{{ post.get_absolute_url }}"><h5>{{ post.title }}</h5></a>
				<p>{{ post.text }}</p> 
				<h6 class="text-muted pull-left"> <i class="fa fa-clock-o"></i> {{ post.event_date }}</h6>
				<h6 class="text-muted pull-right"> <i class="fa fa-map-marker"></i> {{ post.location }}</h6> 
			</div> 
		</div> 
		{% endfor %}
	</div>
</main>

{% include "includes/masonry-scripts.html" %}
