{% include "includes/head.html" %}
{% include "includes/header.html" %}

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left">New Post</h3>
        </div>

        <div class="panel-body">
            <form action="{% url 'posts:create' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                 
                <!-- Hidden tag info -->
                <p id="hidden-tag-list"></p>
                <input id="num-tags" type="hidden" name="numTags" value="0"/>

                <input type="submit" value="Submit"/>
            </form>

            <br/>

            <p id="new-tagger">
                <p>Optional: Add Tags</p>
                <p id="tag-warning"></p>

                <!-- Inputting a new tag -->
                <input id="new-tag-field" maxlength="16" name="title" type="text"/>
                <button id="new-tag-button">Add</button>

                <!-- Displays all the tags -->
                <p id="visible-tag-list"></p>
            </p>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        tagList = [];
        tagCount = 0;

        // When we add a tag
        $('#new-tag-button').click(function(e) {
            // Override new-tag-button's default behavior
            e.preventDefault();

            // Grabs the new tag text and clears spaces
            var newTagTitle = $('#new-tag-field').val().replace(/\W/g, '');

            if (newTagTitle.length == 0) {
                $('#tag-warning').text('Please enter a tag below');
            } else if (tagList.indexOf(newTagTitle) != -1) {
                $('#tag-warning').text('You\'ve already used that tag!');
            } else {
                tagList.push(newTagTitle);

                // Add to the displayed visible tag list
                $('#visible-tag-list').append('<p id="visible-tag-' + (tagCount) + '" class="new-tag" style="display: none">' + newTagTitle + '</p>');
                $('#visible-tag-' + (tagCount)).fadeIn();
                $('#visible-tag-' + (tagCount)).click(function(e) { removeTag(this); });
                
                // Add to the hidden tag list that is passed to the django backend
                $('#hidden-tag-list').append('<input type="hidden" id="hidden-tag-' + (tagCount) + '" name="hidden-tag-' + (tagCount) + '" value="' + newTagTitle + '"/>');

                // Update number of tags
                tagCount++;
                $('#num-tags').val(tagCount);

                // Display success message
                $('#tag-warning').text('Tag submitted');
            }

            $('#new-tag-field').val('');
            return false;
        });

        // When we remove a tag
        function removeTag(tag) {
            var num = tag.getAttribute('id').replace(/\D/g, '');

            // Find tag in tagList and delete it
            for (var i = 0; i < tagList.length; i++) {
                if (tagList[i] == $('#hidden-tag-' + num).val()) {
                    tagList.splice(i, 1);
                    break
                }
            }

            // Remove the visible tag and set the hidden tag's value to empty,
            // so that the django backend knows not to generate a tag instance
            $('#visible-tag-' + num).fadeOut();
            $('#hidden-tag-' + num).val('');
        }
    });
</script> 
