{% include "includes/head.html" %}
{% include "includes/header.html" %}

{% csrf_token %}

<main>
	<div class="container-fluid">
		<p><a href="/posts">Back to posts</a></p>
		<div class="panel panel-primary">

            <!-- Header contains title and date -->
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">{{ post.title }}</h3>
				<span class="pull-right">{{post.date}}</span>
			</div>


            <!-- Body contains text, url, and tags -->
			<div class="panel-body">
				<p>{{ post.text }}</p>
				{% if post.url %}
					<a href="{{ post.url }}">External Link</a>
				{% endif %}

                <hr/>
                Tags:     
                {% if tags != None %}
                    {% for tag in tags %}
                        {% if tag != None %}
                            <div class="unvoted-tag update-tag" value="{{ tag.title }}">{{ tag.title }}
                                (<div class="update-tag-votes">{{ tag.votes }}</div>)
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
			</div>

            <!-- Footer contains post type -->
			<div class="panel-footer">
				{{ post.get_post_type_display }}
			</div> 

		</div>
	</div>
</main>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        $('.unvoted-tag').click(function() {
            vote($(this));
            return false;
        });

        $('.voted-tag').click(function() {
            unvote($(this));
            return false;
        });

        function vote(curTag) {
            // Now onclick will trigger unvoting
            curTag.unbind();
            curTag.bind('click', function () { unvote(curTag); });

            // Indicate the tag has been voted on by its classes
            curTag.removeClass('unvoted-tag');
            curTag.addClass('voted-tag');

            // Update the displayed number of votes
            var newVotes = parseInt(curTag.find('>:first-child').text()) + 1;
            curTag.find('>:first-child').text(newVotes);

            // Grabs the tag's text
            var tag_title = curTag.find('>:first-child').context.getAttribute('value');

            // Updates the tag's number of votes in the Django backend
            $.ajax({
                type:'POST',
                url:'../tags/vote/{{ post.id }}/' + tag_title,
            }); 
        }

        function unvote(curTag) {
            // Now onclick will trigger unvoting
            curTag.unbind();
            curTag.bind('click', function () { vote(curTag); });

            // Indicate the tag has been voted on by its classes
            curTag.removeClass('voted-tag');
            curTag.addClass('unvoted-tag');

            // Update the displayed number of votes
            var newVotes = parseInt(curTag.find('>:first-child').text()) - 1;
            curTag.find('>:first-child').text(newVotes);

            // Grabs the tag's text
            var tag_title = curTag.find('>:first-child').context.getAttribute('value');

            // Updates the tag's number of votes in the Django backend
            $.ajax({
                type:'POST',
                url:'../tags/unvote/{{ post.id }}/' + tag_title,
            }); 

        }

        // Adds csrf token so we can update a tag's votes in the Django backend
        $.ajaxSetup({data: {
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }});
    });
</script> 
