{% include "includes/head.html" %}
{% include "includes/header.html" %}

{% csrf_token %}

<main>
	<div class="container-fluid">
		<p><a href="/posts">Back to posts</a></p>
		<div class="panel panel-primary">

            <!-- Header contains title and date -->
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">{{ post.title }}</h3>
                <span class="pull-right">Event Date: {{ post.event_date }} | Submission Date: {{ post.sub_date }} | Location: {{ post.location }}</span>
			</div>


            <!-- Body contains text, url, and tags -->
			<div class="panel-body">
				<p>{{ post.text }}</p>
				{% if post.url %}
					<a href="{{ post.url }}">External Link</a>
				{% endif %}

				{% if post.photo %}
                    {% if post.photo.url %}
                        <img src="{{ post.photo.url }}">
                    {% endif %}
				{% endif %}

                <hr/>
                <p id="new-tagger">
                    <p><span>Add Tags: </span><span id="warning"></span></p>
                    <input id="new-tag-field" maxlength="16" name="title" type="text"/>
                    <button id="new-tag-button">Add</button>
                </p>

                <hr/>
                Tags:     
                {% if tags != None %}
                    <div id="visible-tag-list">
                        {% for tag in tags %}
                            {% if tag != None %}
                                <div class="unvoted-tag update-tag" value="{{ tag.title }}" post-id="{{ post.id }}">{{ tag.title }}
                                    (<div class="update-tag-votes">{{ tag.votes }}</div>)
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
			</div>

            <!-- Footer contains post type -->
			<div class="panel-footer">
				{{ post.get_post_type_display }}
			</div> 

		</div>
	</div>
</main>

{% include "includes/tags.html" %}